p.p_p {
  padding: 0px; margin: 0px;
  font-size:20px;
}
p.publication_title {
  font-weight:bold;
}
p.hashtags {
  font-size:16px;
  color: #32a854;
  font-weight:bold;
}
span.author {
  font-size:18px;
  color:#6289e5;
}
p.publication_abstract {
  font-size:16px;
  font-family:Helvetica;
  text-align: justify;
}
p.publication_journal {
  font-size:18px;
}
a.extra {
  font-size:18px;
  color:#bf3138;
}
table.publication_table tr td {
  border:0px;
}
table.publication_table {
  border:0px;
}

.img-paper {
  border:1px solid black;
}
table.img-paper-table {
  width:100%;
  height:100%;
  border:0;
}

table.img-paper-table tr td {
  border:0px;
}
