.description {
  text-align:justify;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
}
.themed-grid-col {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
.themed-grid-col-top-row {
    margin-bottom:15px;
}
.top-row {
    margin-bottom:10px;
}
.row-title:hover {
    color: #bf3138;
}
.row-title {
    color: #bf3138;
}
.row-author:hover {
    color: #6289e5;
}
.row-author {
    color: #6289e5;
}
.row {
    margin:0;
}
.data-author {
    overflow: auto;
}
table {
    border: 0;
    margin-bottom: 0;
}
td {
    border-bottom: 0;
    border-right: 0;
}
.btn-light {
    background-color: #E2E6EA;
}
