.description {
  text-align:justify;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
}
.themed-grid-col {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
.themed-grid-col-top-row {
    margin-bottom:15px;
}
span.popularML-source {
  color:black;
  border: 2px solid #E6E2EB;
  padding: 4px;
  border-radius: 25px;
  margin-bottom:20px;
}
.top-row {
    margin-bottom:10px;
}
.row-title:hover {
    color: #bf3138;
}
.row-title {
    color: #bf3138;
    font-size:17px;
}
.row-author:hover {
    color: #6289e5;
}
.row-author {
    color: #6289e5;
    font-size:13px;
}
.row-numrtwslikes {
    font-size:13px;
}
.row-date {
}
.row {
    margin:0;
}
.data-author {
    overflow: auto;
}
table.popularml {
    border: 0;
    margin-bottom: 0;
}
table.popularml > tbody > tr > td {
    border-bottom: 0;
    border-right: 0;
    padding: 0.2em;
}
.btn-light {
    background-color: #E2E6EA;
}
